<!DOCTYPE html>
<html>
<head>
  <title>ArpaMeeting</title>
  <link href='http://fonts.googleapis.com/css?family=Nobile:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Expletus+Sans:regular,bold' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/favicon.ico" /> 
  <%= stylesheet_link_tag 'grid' %>
  <%= stylesheet_link_tag 'buttons' %>
  <%= stylesheet_link_tag 'arpameeting' %>
  <%= javascript_include_tag :all %>
  <%= javascript_include_tag Service.find_by_name('video').url + '/amvideo.js', :cache => false %>
  <%= csrf_meta_tag %>
</head>
<body>
    <div id="header-warp" class="clearfix">
        <div id="header" class="container_12">
            <div class="grid_6">
                <%= link_to (image_tag 'logo_light.png'), '/' %>
            </div>
            <div class="grid_6" style="padding-top:29px; text-align:right;">
                <% if !signed_in? %>
                    <%= link_to 'Sign in', signin_path, :class => "button green" %>
                <% else %>
                    <div id="menunav">
                        <%= link_to 'Profile', user_path(current_user), :class => "button" %>
                        <%= link_to 'My Rooms', rooms_path, :class => "button" %>
                        <%= link_to 'New Room', new_room_path, :class => "button" %>
                        <%= link_to 'API', api_docs_path, :class => "button" %>
                        <%= link_to 'Sign out', signout_path, :class => "button blue" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <div id="content-warp" class="clearfix">
        <div id="content" class="container_12">
            <%= yield %>
        </div>
    </div>
</body>
</html>
